<form method="POST" action="#" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Alternative Akshaya Patra Meals Feedback for teachers</h3>
    School number:
    <br>
    <input type="text" name="school"/>
    <br><br>
    Class number:
    <br>
    <input type="text" name="school"/>
    <br><br>
    Question 1: Do you eat mid-day meal served in your school?
    <br>
    number of YES answers<br><input type="text" name="school"/><br>
    number of NO answers<br><input type="text" name="school"/>
    <br><br>
    Question 2: I don’t have any illness or discomfort after eating the food?
    <br>
    number of YES answers<br><input type="text" name="school"/><br>
    number of NO answers<br><input type="text" name="school"/>
    <br><br>
    Question 3: I don’t have any illness or discomfort after eating the food.
    <br>
    number of YES answers<br><input type="text" name="school"/><br>
    number of NO answers<br><input type="text" name="school"/>
    <br><br>
    Question 4: Does Akshaya Patra food taste like the food served in your home?
    <br>
    number of YES answers<br><input type="text" name="school"/><br>
    number of NO answers<br><input type="text" name="school"/>
    <br><br>
    Question 5: Is the food always hot when it is served?
    <br>
    number of YES answers<br><input type="text" name="school"/><br>
    number of NO answers<br><input type="text" name="school"/>
    <br>
    <br>
    <button type="submit" value="Submit">Submit</button>
</form>